@charset "UTF-8";
.navbar-inverse a{
	color: var(--fontcolor);
}

.addAsset-submit,
.writeMemo-submit{
	background-color: var(--backGround_color);
	color: var(--fontcolor);
	transition: all 0.5s;
}
.addAsset-submit:hover,
.writeMemo-submit:hover,
.addAsset-submit:active,
.writeMemo-submit:active{
	background: var(--fontcolor);
	color: var(--backGround_color);
}
.writeMemo:hover,
.writeMemo:active{
	color: #6464ff;
	cursor: pointer;
}
.memo-textArea{
	resize: none;
}